Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

fix: remove pip install references - PyGuard not yet on PyPI
  README.md
  docs/examples/git-hooks-demo.md
  docs/guides/ADVANCED_FEATURES.md
  docs/guides/auto-fix-guide.md
  docs/guides/git-hooks-guide.md
  docs/guides/notebook-security-guide.md
  docs/reference/architecture/IMPLEMENTATION_SUMMARY.md
Labels: 📝 documentation, 💻 code

fix: update emoji-related tests after emoji removal
  pyguard/lib/ui.py
  tests/unit/test_ui.py
Labels: 🧪 tests, 💻 code

fix: resolve action.yml paths argument passing issue
  action.yml
Labels: 💻 code

fix: prevent glob expansion in action.yml exclude patterns
  action.yml
Labels: 💻 code

fix: disable glob expansion with set -f in action.yml
  action.yml
Labels: 💻 code

debug: add argument array debugging to action.yml
  action.yml
Labels: 💻 code

fix: reorder arguments to fix argparse nargs issue
  action.yml
Labels: 💻 code

Workflow tweaks
  .github/workflows/test-action.yml
  action.yml
  pyguard/lib/ui.py
Labels: ⚙️ workflows, 💻 code

fix: remove problematic emoji replacements and add missing step id
  .github/workflows/test-action.yml
  pyguard/lib/ui.py
Labels: ⚙️ workflows, 💻 code

fix: shellcheck warnings in workflow files
  .github/workflows/release.yml
  .github/workflows/test-action.yml
Labels: ⚙️ workflows, 💻 code,  release

fix: update codecov-action to v5.1.2 (resolve SHA not found error)
  .github/workflows/comprehensive-tests.yml
Labels: ⚙️ workflows, 💻 code

chore: update all GitHub Actions to latest versions
  .github/workflows/comprehensive-tests.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test-action.yml
Labels: ⚙️ workflows, 💻 code,  release

Fix Windows Unicode encoding errors in Rich progress bars (#115)
  pyguard/cli.py
  pyguard/lib/cache.py
  pyguard/lib/ui.py
Labels: 💻 code

Delete IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Labels: 📝 documentation, 💻 code

Delete TESTING_GUIDELINES.md
  TESTING_GUIDELINES.md
Labels: 📝 documentation, 💻 code

Delete TEST_COVERAGE_REPORT.md
  TEST_COVERAGE_REPORT.md
Labels: 📝 documentation, 💻 code

Comprehensive Unit Test Suite Implementation - 86.84% Coverage Achieved (#116)
  tests/unit/test_performance_checks.py
  tests/unit/test_refurb_patterns.py
Labels: 🧪 tests, 💻 code

Enhance PyGuard test suite with comprehensive coverage following PyTest Architect Agent best practices (#117)
  docs/TEST_PLAN.md
  docs/TEST_SUITE_SUMMARY.md
  pyproject.toml
  tests/unit/test_async_patterns.py
  tests/unit/test_datetime_patterns.py
  tests/unit/test_debugging_patterns.py
  tests/unit/test_naming_conventions.py
  tests/unit/test_pathlib_patterns.py
  tests/unit/test_reporting.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Enhance PyGuard with World-Class Jupyter Notebook Security: 15+ Detection Categories & Advanced Auto-Fix (#119)
  .gitignore
  docs/JUPYTER_SECURITY_ENHANCEMENT_SUMMARY.md
  docs/guides/notebook-security-guide.md
  examples/notebook_security_demo.ipynb
  examples/secure_notebook_example.ipynb
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Create Notebook Engineer Prompt
  docs/development/PYGUARD_JUPYTER_SECURITY_ENGINEER.md
Labels: 📝 documentation, 💻 code

Implement world-class Jupyter notebook security - ML model security, entropy-based secrets, filesystem protection, and advanced XSS detection (#120)
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
Labels: 🧪 tests, 💻 code,  security

Implement World-Class Jupyter Notebook Security Detection (125+ Patterns) (#121)
  docs/development/JUPYTER_SECURITY_IMPLEMENTATION.md
  examples/notebook_security_demo.md
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Add world-class Jupyter notebook security scanning to PyGuard (#122)
  .gitignore
  docs/development/JUPYTER_IMPLEMENTATION_SUMMARY.md
  docs/guides/JUPYTER_NOTEBOOK_SECURITY.md
  examples/notebooks/vulnerable_example.ipynb
  pyguard/cli.py
  pyguard/lib/notebook_analyzer.py
  pyproject.toml
  tests/unit/test_notebook_analyzer.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Enhance PyGuard Jupyter Notebook Security with SARIF 2.1.0 Integration and Comprehensive Auto-Fix (#123)
  docs/notebook_security_summary.md
  examples/notebook_security_demo.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Add rule ID tracking and test compatibility for Jupyter notebook security analysis (#124)
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_security.py
Labels: 💻 code,  security

Enhance PyGuard Jupyter Notebook Security: 108+ Patterns, World-Class Auto-Fix, and Comprehensive ML/AI Protection (#125)
  docs/development/NOTEBOOK_SECURITY_CAPABILITIES.md
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Enhance PyGuard Jupyter Security with World-Class Performance, Testing, and Auto-Fix Capabilities (#126)
  benchmarks/README.md
  benchmarks/benchmark_results.json
  benchmarks/notebook_performance.py
  docs/development/JUPYTER_SECURITY_PROGRESS_LOG.md
  docs/development/NOTEBOOK_SECURITY_CAPABILITIES.md
  docs/development/SESSION_SUMMARY.md
  pyguard/lib/notebook_auto_fix_enhanced.py
  tests/unit/test_notebook_property_based.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Enhance PyGuard Jupyter Security: Golden File Snapshot Tests & Enhanced SARIF Output (#127)
  docs/development/NOTEBOOK_SECURITY_CAPABILITIES.md
  docs/development/SESSION_2_ENHANCEMENTS.md
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_security.py
  tests/unit/test_notebook_snapshot.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

[WIP] Enhance security capabilities of PyGuard Jupyter engine (#128)
  docs/development/JUPYTER_ENHANCEMENT_SESSION_2025-10-17.md
  pyguard/lib/notebook_security.py
  tests/unit/test_notebook_analyzer.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

[WIP] Refactor security enhancements for ongoing project (#129)
  pyguard/lib/notebook_security.py
Labels: 💻 code,  security

Update MCP
  .github/copilot-mcp.json
Labels: 💻 code

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ⚙️ workflows, 💻 code

Add claude GitHub actions 1760712888297 (#130)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Cleanup .github/workflows
  .github/copilot-mcp.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Update Playwright MCP
  .github/copilot-mcp.json
Labels: 💻 code

Add comprehensive unit test suite with 218+ tests following PyTest Architect Agent best practices (#131)
  TESTING_ACCOMPLISHMENTS.md
  TEST_COVERAGE_SUMMARY.md
  tests/unit/test___init__.py
  tests/unit/test_notebook_auto_fix_enhanced.py
  tests/unit/test_notebook_snapshot.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Removing Docs
  TESTING_ACCOMPLISHMENTS.md
  TEST_COVERAGE_SUMMARY.md
Labels: 📝 documentation, 💻 code

Add comprehensive test coverage for PyGuard core modules (84.28% → 84.55%, +59 tests) (#132)
  tests/unit/test_cache.py
  tests/unit/test_ml_detection.py
  tests/unit/test_notebook_security.py
  tests/unit/test_rule_engine.py
Labels: 🧪 tests, 💻 code

Comprehensive Unit Test Suite: Achieve 86%+ Coverage with 67+ New Tests (#133)
  tests/unit/test_core.py
  tests/unit/test_exception_handling.py
  tests/unit/test_notebook_auto_fix_enhanced.py
  tests/unit/test_string_operations.py
  tests/unit/test_supply_chain.py
Labels: 🧪 tests, 💻 code

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'
