Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

Fix notebook security idempotency, secret redaction, and crypto IV detection (#254)
  pyguard/lib/crypto_security.py
  pyguard/lib/notebook_security.py
Labels: 💻 code,  security

Fix test failures and enhance Quart/notebook security detection (#255)
  pyguard/cli.py
  pyguard/lib/crypto_security.py
  pyguard/lib/framework_quart.py
  pyguard/lib/notebook_security.py
  tests/unit/test_cli.py
Labels: 🧪 tests, 💻 code,  security

Python Perfectionist: Fix critical linting violations and enhance type safety (#256)
  examples/advanced_features_demo.py
  examples/notebook_security_demo.py
  pyguard/cli.py
  pyguard/lib/advanced_security.py
  pyguard/lib/core.py
  pyguard/lib/framework_quart.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/notebook_security.py
  pyguard/lib/standards_integration.py
  pyguard/lib/supply_chain_advanced.py
  pyproject.toml
  tests/conftest.py
  tests/fixtures/sample_correct.py
  tests/integration/test_auto_fix_workflows.py
  tests/integration/test_cli.py
  tests/integration/test_github_action_integration.py
  tests/integration/test_workflow_validation.py
  tests/unit/test___init__.py
  tests/unit/test_auth_security.py
  tests/unit/test_cache.py
  tests/unit/test_core.py
  tests/unit/test_dependency_confusion.py
  tests/unit/test_enhanced_detections.py
  tests/unit/test_formatting.py
  tests/unit/test_git_hooks.py
  tests/unit/test_git_hooks_cli.py
  tests/unit/test_missing_auto_fixes.py
  tests/unit/test_notebook_property_based.py
  tests/unit/test_notebook_security.py
  tests/unit/test_parallel.py
  tests/unit/test_pep8_comprehensive.py
  tests/unit/test_ruff_security.py
  tests/unit/test_string_operations.py
  tests/unit/test_supply_chain.py
  tests/unit/test_test_coverage.py
  tests/unit/test_type_checker.py
  tests/unit/test_watch.py
  tests/unit/test_xss_detection.py
Labels: 🧪 tests, 💻 code, 🔧 config,  security, 📦 dependencies

Python Perfectionist: Fix 92 critical issues (security, correctness, modernization) (#257)
  PYTHON_PERFECTIONIST_SESSION_COMPLETE.md
  pyguard/cli.py
  pyguard/git_hooks_cli.py
  pyguard/lib/advanced_injection.py
  pyguard/lib/core.py
  pyguard/lib/crypto_security.py
  pyguard/lib/dependency_confusion.py
  pyguard/lib/framework_bottle.py
  pyguard/lib/framework_numpy.py
  pyguard/lib/framework_sqlalchemy.py
  pyguard/lib/framework_tensorflow.py
  pyguard/lib/mcp_integration.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/refurb_patterns.py
  pyguard/lib/reporting.py
  pyguard/lib/ui.py
Labels: 📝 documentation, 💻 code,  security

Fix import organization: Move 35 function-scoped imports to module level (#258)
  PERFECTIONIST_PROGRESS.md
  PERFECTIONIST_SESSION_SUMMARY.md
  pyguard/lib/advanced_injection.py
  pyguard/lib/ai_ml_security.py
  pyguard/lib/comprehensions.py
  pyguard/lib/crypto_security.py
  pyguard/lib/formatting.py
  pyguard/lib/mcp_integration.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_security.py
  pyguard/lib/parallel.py
  pyguard/lib/pep8_comprehensive.py
  pyguard/lib/performance_checks.py
  pyguard/lib/return_patterns.py
  pyguard/lib/secret_scanner.py
  pyguard/lib/ui.py
Labels: 📝 documentation, 💻 code,  security

Python Perfectionist Agent: 93% linting violation reduction + 41 critical bug fixes (#259)
  PERFECTIONIST_SESSION_2025-10-28.md
  pyguard/lib/ai_explainer.py
  pyguard/lib/ai_ml_security.py
  pyguard/lib/dependency_confusion.py
  pyguard/lib/enhanced_detections.py
  pyguard/lib/formatting.py
  pyguard/lib/framework_quart.py
  pyguard/lib/knowledge_integration.py
  pyguard/lib/notebook_security.py
  pyguard/lib/performance_checks.py
  pyguard/lib/refurb_patterns.py
  pyguard/lib/ripgrep_filter.py
  pyguard/lib/sarif_reporter.py
  pyguard/lib/secret_scanner.py
  pyguard/lib/standards_integration.py
  pyguard/lib/supply_chain.py
  pyguard/lib/ui.py
  pyguard/lib/ultra_advanced_security.py
Labels: 📝 documentation, 💻 code,  security

Python Perfectionist: Type safety fixes, security verification, comprehensive analysis (#260)
  PYTHON_PERFECTIONIST_COMPLETION.md
  PYTHON_PERFECTIONIST_FINAL_ANALYSIS_COMPLETE.md
  SECURITY_SUMMARY.md
  pyguard/lib/knowledge_integration.py
  pyguard/lib/sarif_reporter.py
  pyguard/lib/standards_integration.py
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

Fix WARNING_ONLY security fixes blocked from applying (#261)
  pyguard/lib/fix_safety.py
  pyguard/lib/notebook_security.py
Labels: 💻 code,  security

Fix test semantics and clean up code quality issues (16 fixes) (#262)
  PERFECTIONIST_FINAL_ANALYSIS_2025-10-28.md
  pyguard/cli.py
  pyguard/lib/api_security_fixes.py
  pyguard/lib/enhanced_detections.py
  pyguard/lib/fix_safety.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/notebook_security.py
  pyguard/lib/parallel.py
  pyguard/lib/pep8_comprehensive.py
  pyguard/lib/performance_profiler.py
  pyguard/lib/ruff_security.py
  pyguard/lib/supply_chain.py
  pyguard/lib/supply_chain_advanced.py
  tests/unit/test_fix_safety.py
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Python Perfectionist Agent: Deep analysis and quality improvements (#264)
  PYTHON_PERFECTIONIST_ANALYSIS_COMPLETE.md
  PYTHON_PERFECTIONIST_FINAL_REPORT_OLD.md
  pyguard/lib/ai_ml_security.py
  pyguard/lib/api_security.py
  pyguard/lib/auth_security.py
  pyguard/lib/cloud_security.py
  pyguard/lib/code_simplification.py
  pyguard/lib/framework_asyncio.py
  pyguard/lib/framework_flask.py
  pyguard/lib/framework_pyramid.py
  pyguard/lib/import_manager.py
  pyguard/lib/logging_patterns.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/parallel.py
  pyguard/lib/pathlib_patterns.py
  pyguard/lib/pep8_comprehensive.py
  pyguard/lib/ultra_advanced_fixes.py
  tests/unit/test_notebook_property_based.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Remove all BazBOM references - position PyGuard on its own merits (#266)
  ARCHITECTURE.md
  DISTRIBUTION.md
  DOCUMENTATION_REORGANIZATION_SUMMARY.md
  ROADMAP.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

Implement v0.7.0 distribution features: Homebrew formula, Docker multi-arch, and watch mode (#267)
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  DISTRIBUTION.md
  IMPLEMENTATION_SUMMARY.md
  ROADMAP.md
  docs/development/v0.7.0-progress.md
  docs/docker/README.md
  homebrew/README.md
  homebrew/TAP_SETUP.md
  homebrew/generate_formula.py
  homebrew/pyguard.rb
Labels: 📝 documentation, ⚙️ workflows, 💻 code,  release

Implement v0.8.0 supply chain security: Sigstore signing + comprehensive documentation (#268)
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  README.md
  ROADMAP.md
  docs/guides/SUPPLY_CHAIN_SECURITY.md
  docs/index.md
  docs/security/SIGNATURE_VERIFICATION.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code,  release

Implement Git Diff Analysis and Enhanced Compliance Reporting (v0.8.0) (#269)
  ROADMAP.md
  docs/guides/COMPLIANCE_REPORTING.md
  docs/guides/GIT_DIFF_ANALYSIS.md
  docs/reference/capabilities-reference.md
  pyguard/cli.py
  pyguard/lib/compliance_reporter.py
  pyguard/lib/git_diff_analyzer.py
  tests/unit/test_compliance_reporter.py
  tests/unit/test_git_diff_analyzer.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement Advanced Taint Analysis, Performance Optimization, and GPG Signing (v0.7.0 & v0.8.0) (#270)
  .github/workflows/release.yml
  ROADMAP.md
  docs/security/GPG_VERIFICATION.md
  pyguard/lib/__init__.py
  pyguard/lib/performance_optimizer.py
  pyguard/lib/taint_analysis.py
  tests/unit/test_performance_optimizer.py
  tests/unit/test_taint_analysis.py
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code,  release

Implement v0.7.0 and v0.8.0 roadmap: incremental analysis, performance tracking, and supply chain security documentation (#271)
  ROADMAP.md
  ROADMAP_IMPLEMENTATION_SUMMARY_NOV2024.md
  docs/index.md
  docs/security/SBOM_GUIDE.md
  docs/security/SLSA_PROVENANCE_VERIFICATION.md
  pyguard/lib/incremental_analysis.py
  pyguard/lib/performance_tracker.py
  tests/unit/test_incremental_analysis.py
  tests/unit/test_performance_tracker.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add Copilot setup steps for development environment
  .github/copilot-setup-steps.yml
Labels: 💻 code

Fix Copilot configuration files: Replace Rust/Java toolchain with Python setup (#272)
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
Labels: 📝 documentation, 💻 code

Implement advanced taint analysis and programmatic API (#273)
  ROADMAP.md
  pyguard/__init__.py
  pyguard/api.py
  pyguard/lib/taint_analysis.py
  tests/unit/test_api.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Roadmap Phase 1: Add comprehensive tests for SQLAlchemy and supply chain security (#274)
  coverage.json
  tests/unit/test_framework_sqlalchemy.py
  tests/unit/test_supply_chain_advanced.py
Labels: 🧪 tests, 💻 code

feat: Implement JSON-RPC API, Webhook API, and Audit Logging for enterprise integration (#275)
  ROADMAP.md
  docs/reference/capabilities-reference.md
  pyguard/lib/audit_logger.py
  pyguard/lib/jsonrpc_api.py
  pyguard/lib/webhook_api.py
  tests/unit/test_audit_logger.py
  tests/unit/test_jsonrpc_api.py
  tests/unit/test_webhook_api.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement plugin architecture and production readiness documentation (v0.8.0 & v1.0.0) (#276)
  ROADMAP.md
  docs/guides/AIR_GAPPED_INSTALLATION.md
  docs/guides/PLUGIN_ARCHITECTURE.md
  docs/guides/REPRODUCIBLE_BUILDS.md
  docs/index.md
  examples/plugins/plugin_company_standards.py
  pyguard/lib/plugin_system.py
  tests/unit/test_plugin_system.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement historical scan tracking, API stability framework, and integration tests (#277)
  IMPLEMENTATION_SUMMARY_NOV2024_CONTINUED.md
  ROADMAP.md
  pyguard/lib/api_stability.py
  pyguard/lib/scan_history.py
  tests/integration/test_complete_workflow.py
  tests/unit/test_api_stability.py
  tests/unit/test_scan_history.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add Streamlit, Gradio, and Dash security frameworks (v1.1.0) (#278)
  README.md
  ROADMAP.md
  coverage.json
  pyguard/lib/framework_dash.py
  pyguard/lib/framework_gradio.py
  pyguard/lib/framework_streamlit.py
  tests/unit/test_framework_dash.py
  tests/unit/test_framework_gradio.py
  tests/unit/test_framework_streamlit.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement v1.1.0 framework expansion: PySpark and Airflow security frameworks with package manager support (#279)
  ROADMAP.md
  docs/development/LTS_POLICY.md
  docs/reference/capabilities-reference.md
  packaging/README.md
  packaging/chocolatey/pyguard.nuspec
  packaging/chocolatey/tools/chocolateyinstall.ps1
  packaging/chocolatey/tools/chocolateyuninstall.ps1
  packaging/scoop/pyguard.json
  packaging/snap/snapcraft.yaml
  pyguard/lib/framework_airflow.py
  pyguard/lib/framework_pyspark.py
  tests/unit/test_framework_airflow.py
  tests/unit/test_framework_pyspark.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Comprehensive deep analysis and quality improvements
  CONTRIBUTING.md
  DEEP_ANALYSIS_REPORT.md
  README.md
  SECURITY.md
  docs/development/TESTING_GUIDE.md
  docs/reference/capabilities-reference.md
  examples/basic_usage.py
  pyguard/__init__.py
  pyguard/api.py
  pyguard/cli.py
  pyguard/lib/__init__.py
  pyguard/lib/api_stability.py
  pyguard/lib/audit_logger.py
  pyguard/lib/compliance_reporter.py
  pyguard/lib/framework_airflow.py
  pyguard/lib/framework_dash.py
  pyguard/lib/framework_gradio.py
  pyguard/lib/framework_pyspark.py
  pyguard/lib/framework_streamlit.py
  pyguard/lib/git_diff_analyzer.py
  pyguard/lib/incremental_analysis.py
  pyguard/lib/jsonrpc_api.py
  pyguard/lib/performance_optimizer.py
  pyguard/lib/performance_tracker.py
  pyguard/lib/plugin_system.py
  pyguard/lib/scan_history.py
  pyguard/lib/taint_analysis.py
  pyguard/lib/webhook_api.py
  tests/unit/test_debugging_patterns.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Add comprehensive usability improvements and documentation
  .pre-commit-config.yaml.example
  QUICKSTART.md
  README.md
  ROADMAP.md
  TROUBLESHOOTING.md
  examples/basic_usage.py
  examples/sample_code.py
Labels: 📝 documentation, 💻 code

Add comprehensive enhancements summary documentation
  ENHANCEMENTS_SUMMARY.md
Labels: 📝 documentation, 💻 code

Complete documentation reorganization and cleanup
  docs/DOCUMENTATION_INDEX.md
  docs/README.md
  docs/development/archived/README.md
  docs/development/archived/UPDATEv06.md
  docs/development/archived/UPDATEv2.md
  docs/development/archived/v0.7.0-progress.md
  docs/guides/GITHUB_MARKETPLACE_GUIDE.md
  docs/reference/ARCHITECTURE.md
  docs/reference/DISTRIBUTION_STRATEGY.md
  docs/reports/2024-11-04-implementation-continued.md
  docs/reports/2024-11-04-implementation-summary.md
  docs/reports/2024-11-04-roadmap-implementation.md
  docs/reports/2025-11-03-documentation-reorganization.md
  docs/reports/2025-11-11-deep-analysis.md
  docs/reports/2025-11-11-enhancements-summary.md
  docs/reports/README.md
Labels: 📝 documentation, 💻 code

Complete documentation reorganization and cleanup
  README.md
  ROADMAP.md
  docs/DOCUMENTATION_INDEX.md
  docs/README.md
  docs/development/archived/README.md
  docs/development/archived/UPDATEv06.md
  docs/development/archived/UPDATEv2.md
  docs/development/archived/v0.7.0-progress.md
  docs/guides/GITHUB_MARKETPLACE_GUIDE.md
  docs/index.md
  docs/reference/ARCHITECTURE.md
  docs/reference/DISTRIBUTION_STRATEGY.md
  docs/reports/2024-11-04-implementation-continued.md
  docs/reports/2024-11-04-implementation-summary.md
  docs/reports/2024-11-04-roadmap-implementation.md
  docs/reports/2025-11-03-documentation-reorganization.md
  docs/reports/2025-11-11-deep-analysis.md
  docs/reports/2025-11-11-enhancements-summary.md
  docs/reports/README.md
Labels: 📝 documentation, 💻 code

Apply PyGuard fixes to sample_code.py from testing basic_usage.py
  examples/sample_code.py
Labels: 💻 code

Fix all GitHub Actions workflow issues
  .github/workflows/comprehensive-tests.yml
  .github/workflows/docker-publish.yml
  .github/workflows/path-guard.yml
  .github/workflows/pyguard-incremental.yml
  .github/workflows/security-scan.yml
Labels: ⚙️ workflows, 💻 code

🚀 v0.7.0: Complete UX Overhaul - Make PyGuard the Tool Developers WANT to Use
  .github/workflows/pyguard-template.yml
  README.md
  docs/index.md
  pyguard/__init__.py
  pyguard/cli.py
  pyguard/commands/__init__.py
  pyguard/commands/doctor.py
  pyguard/commands/explain.py
  pyguard/commands/fix.py
  pyguard/commands/init.py
  pyguard/commands/scan.py
  pyguard/commands/validate_config.py
  pyguard/commands/watch.py
  pyguard/lib/config.py
  pyguard/lib/ui.py
  pyproject.toml
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔧 config, 📦 dependencies

🔥 CRITICAL FIX: Remove Dependency Hell - PyGuard is Standalone!
  README.md
  pyguard/commands/doctor.py
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

✨ PyGuard is Now 100% Standalone - Remove ALL External Tool Dependencies
  README.md
  pyguard/commands/doctor.py
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

📝 CRITICAL DOCS FIX: Correct Installation Instructions (Not on PyPI Yet)
  .github/workflows/pyguard-template.yml
  README.md
  docs/index.md
  pyguard/commands/doctor.py
Labels: 📝 documentation, ⚙️ workflows, 💻 code

🚀 v0.7.0: Complete UX Overhaul - Make PyGuard the Tool Developers WAN… (#290)
  .github/workflows/pyguard-template.yml
  README.md
  docs/index.md
  pyguard/__init__.py
  pyguard/cli.py
  pyguard/commands/__init__.py
  pyguard/commands/doctor.py
  pyguard/commands/explain.py
  pyguard/commands/fix.py
  pyguard/commands/init.py
  pyguard/commands/scan.py
  pyguard/commands/validate_config.py
  pyguard/commands/watch.py
  pyguard/lib/config.py
  pyguard/lib/ui.py
  pyproject.toml
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔧 config, 📦 dependencies

Docs cleanup
  QUICKSTART.md
  README.md
  TROUBLESHOOTING.md
  benchmarks/README.md
  benchmarks/notebook_performance.py
  docs/DEPENDENCY_MANAGEMENT.md
  docs/MANIFEST.md
  docs/copilot/PYTHON_PERFECTIONIST_AGENT.md
  docs/copilot/ai_ml.md
  docs/development/README.md
  docs/development/archived/README.md
  docs/development/archived/UPDATEv06.md
  docs/development/archived/UPDATEv2.md
  docs/development/archived/v0.7.0-progress.md
  docs/development/workflows/ALERT_CLOSURE_GUIDE.md
  docs/development/workflows/CODE_SCANNING_ALERTS.md
  docs/development/workflows/COPILOT-MCP-SERVERS.md
  docs/development/workflows/DEPENDABOT_PRS_ANALYSIS.md
  docs/development/workflows/IMPLEMENTATION_SUMMARY.md
  docs/development/workflows/PULL_REQUEST_TEMPLATE.md
  docs/development/workflows/WORKFLOW_ARCHITECTURE.md
  docs/development/workflows/WORKFLOW_CHANGES_v2.md
  docs/development/workflows/WORKFLOW_OPTIMIZATION_SUMMARY.md
  docs/development/workflows/WORKFLOW_QUICK_REFERENCE.md
  docs/development/workflows/copilot-instructions.md
  docs/examples/README.md
  docs/guides/ADVANCED_FEATURES.md
  docs/guides/GIT_DIFF_ANALYSIS.md
  docs/guides/JUPYTER_NOTEBOOK_SECURITY.md
  docs/guides/README.md
  docs/index.md
  docs/reference/README.md
  docs/reference/capabilities-reference.md
  examples/notebook_security_demo.md
  tests/unit/test_notebook_snapshot.py
Labels: 📝 documentation, 🧪 tests, 💻 code

📚 DEEP ANALYSIS: Complete documentation refresh with verified capabilities
  QUICKSTART.md
  README.md
  docs/reference/ARCHITECTURE.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

📝 Fix remaining version inconsistencies in capabilities-reference
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'
