Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'

Implement AIML011-AIML022: Advanced Prompt Injection Detection for LLM Security (#205)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 1.1.1 and 1.1.2: Add 35 Advanced LLM Security Checks (AIML023-AIML045) (#206)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Phase 1.1.3: Add 15 LLM API Security Checks (AIML046-AIML060) (#207)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 1.1.4 and 1.2 of AI/ML Security Plan: 50 New Security Checks (AIML061-AIML110) (#208)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement AI/ML Security Phase 1: 150 New Security Checks - Milestone 1 Achieved (31% Ahead of Snyk) (#209)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 2.1 of AI/ML Security: Feature Engineering & Preprocessing (30 new checks) (#210)
  docs/development/v071.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 2.2 & 2.3 of AI/ML Security Plan: Model Training Infrastructure and Deployment (70 new security checks) (#211)
  docs/development/v071.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Complete AI/ML Security Phase 2: ML Pipeline & MLOps Security (55 new checks) (#212)
  docs/development/v071.md
  docs/development/v072.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Phase 3.1.1: Add 15 Computer Vision Image Processing Security Checks (AIML281-295) (#213)
  docs/development/v073.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 3.1 Computer Vision Security: Vision Transformers and CNN Architecture Checks (AIML296-315) (#214)
  docs/development/v073.md
  docs/development/v074.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 3.2: Natural Language Processing Security (35 new AI/ML checks AIML316-350) (#215)
  docs/development/v075.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 3.3 & 3.4: Reinforcement Learning and Specialized ML Libraries Security (AIML351-380) (#216)
  docs/development/v076.md
  docs/development/v077.md
  pyguard.lib.framework_fastapi
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 4.1 & 4.2 of AI/ML Security Dominance Plan - Add 50 Jupyter & Dataset Security Checks (#217)
  docs/development/v078.md
  docs/development/v079.md
  pyguard/lib/ai_ml_security.py
Labels: 📝 documentation, 💻 code,  security

Implement Phase 4.3: Model Registry & Versioning Security (20 checks - AIML431-450) (#218)
  docs/development/v080.md
  pyguard/lib/ai_ml_security.py
Labels: 📝 documentation, 💻 code,  security

Implement Phase 4.4: Cloud & Infrastructure Security (10 checks - AIML451-460) (#219)
  docs/development/v081.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Phase 5.1: Add 20 Generative AI Security Checks (AIML461-480) - 470 Total AI/ML Checks (#220)
  docs/development/v082.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Phase 5.2: Add 15 Multimodal & Fusion Model Security Checks (AIML481-495) - 485 Total AI/ML Checks (#221)
  docs/development/v083.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Achieve 500 AI/ML Security Checks - Complete AI/ML Security Dominance Plan (#222)
  docs/development/v070.md
  docs/development/v071.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Update AI/ML progress tracking: v0.7.0 complete (500 checks), v0.7.1 planning ready (#223)
  docs/development/v070.md
  docs/development/v071.md
Labels: 📝 documentation, 💻 code

Complete Phase 5.3: Reach 500 AI/ML security checks (AIML496-510) (#224)
  docs/development/v084.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Phase 6 AI/ML Auto-Fix Infrastructure with 8 Priority Fixes (#225)
  docs/development/v085.md
  pyguard/lib/ai_ml_security.py
  pyguard/lib/fix_safety.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Stage 2 AI/ML Auto-Fix Priority Features (7 new security fixes) (#226)
  docs/development/v086.md
  docs/development/v087.md
  pyguard/lib/ai_ml_security.py
  pyguard/lib/fix_safety.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Fix AST-based detection for AI/ML security checks (AIML462, AIML463, AIML497, AIML501, AIML507) (#227)
  docs/development/v088.md
  pyguard/lib/ai_ml_security.py
Labels: 📝 documentation, 💻 code,  security

AI/ML Security: Fix detection failures and implement context-aware false positive reduction (#228)
  docs/development/v089.md
  pyguard/lib/ai_ml_security.py
Labels: 📝 documentation, 💻 code,  security

AI/ML security: Eliminate false positives with context-aware detection (100% test pass rate) (#229)
  docs/development/v090.md
  docs/development/v091.md
  pyguard/lib/ai_ml_security.py
Labels: 📝 documentation, 💻 code,  security

AI/ML security: Implement 14 auto-fix functions for prompt injection attacks (Groups A & B) (#230)
  docs/development/v092.md
  docs/development/v093.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement AI/ML Security Groups B & C: Advanced Prompt Injection and External Content Validation (#231)
  docs/development/v093.md
  docs/development/v094.md
  pyguard/lib/ai_ml_security.py
  pyguard/lib/fix_safety.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Group D LLM API Security auto-fixes (AIML046-060) (#238)
  docs/development/v095.md
  docs/development/v096.md
  pyguard/lib/ai_ml_security.py
  pyguard/lib/fix_safety.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Implement Group E auto-fixes: LLM output validation & filtering (AIML061-070) (#239)
  docs/development/v096.md
  docs/development/v097.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Document AI/ML security completion: 510 checks implemented across full ML lifecycle (#240)
  README.md
  docs/development/v097.md
  docs/development/v098.md
  docs/development/v099.md
Labels: 📝 documentation, 💻 code

Add perfectionist persona
  docs/copilot/PYTHON_PERFECTIONIST_AGENT.md
Labels: 📝 documentation, 💻 code

Fix linting violations, RuleViolation constructor bugs, and add data flow tracking (#241)
  benchmarks/bench_security.py
  benchmarks/notebook_performance.py
  examples/advanced_features_demo.py
  examples/advanced_integrations_demo.py
  examples/advanced_usage.py
  examples/basic_usage.py
  examples/notebook_security_demo.ipynb
  examples/phase3_demo.py
  pyguard.lib.framework_fastapi
  pyguard/lib/ai_ml_security.py
  pyguard/lib/blockchain_security.py
  pyguard/lib/business_logic.py
  pyguard/lib/framework_bottle.py
  pyguard/lib/framework_numpy.py
  pyguard/lib/framework_pyramid.py
  pyguard/lib/framework_sanic.py
  pyguard/lib/framework_sklearn.py
  pyguard/lib/framework_tensorflow.py
  pyguard/lib/mobile_iot_security.py
  scripts/add_suppressions.py
Labels: 💻 code,  security

Fix 634 mypy type errors across core security modules (87% reduction) (#242)
  pyguard.lib.framework_fastapi
  pyguard/lib/ai_explainer.py
  pyguard/lib/ai_ml_security.py
  pyguard/lib/dependency_analyzer.py
  pyguard/lib/framework_tensorflow.py
Labels: 💻 code,  security

Fix critical type errors and achieve 100% code quality compliance (#243)
  PYTHON_PERFECTIONIST_ANALYSIS.md
  SECURITY_SUMMARY.md
  pyguard.lib.framework_fastapi
  pyguard/lib/ai_explainer.py
  pyguard/lib/ai_ml_security.py
  pyguard/lib/ast_analyzer.py
  pyguard/lib/business_logic.py
  pyguard/lib/compliance_tracker.py
  pyguard/lib/dependency_confusion.py
  pyguard/lib/framework_numpy.py
  pyguard/lib/framework_peewee.py
  pyguard/lib/framework_pony.py
  pyguard/lib/framework_scipy.py
  pyguard/lib/framework_sklearn.py
  pyguard/lib/framework_tensorflow.py
  pyguard/lib/framework_tortoise.py
  pyguard/lib/import_analyzer.py
  pyguard/lib/missing_auto_fixes.py
  pyguard/lib/mobile_iot_security.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/notebook_security.py
  pyguard/lib/rule_engine.py
  pyguard/lib/secret_scanner.py
Labels: 📝 documentation, 💻 code,  security

Fix 51 mypy type errors and version consistency across codebase (#244)
  Dockerfile
  PYTHON_PERFECTIONIST_ANALYSIS.md
  pyguard.lib.framework_fastapi
  pyguard/cli.py
  pyguard/lib/ai_ml_security.py
  pyguard/lib/api_security.py
  pyguard/lib/auth_security.py
  pyguard/lib/business_logic.py
  pyguard/lib/cloud_security.py
  pyguard/lib/compliance_tracker.py
  pyguard/lib/crypto_security.py
  pyguard/lib/framework_asyncio.py
  pyguard/lib/framework_bottle.py
  pyguard/lib/framework_fastapi.py
  pyguard/lib/framework_pyramid.py
  pyguard/lib/framework_quart.py
  pyguard/lib/mobile_iot_security.py
  pyguard/lib/notebook_security.py
  pyguard/lib/pii_detection.py
  tests/integration/test_cli.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🐳 docker,  security

Fix Sanic/Quart security checks and provide comprehensive code quality analysis (#245)
  PYTHON_PERFECTIONIST_FINAL_REPORT.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_quart.py
  pyguard/lib/framework_sanic.py
Labels: 📝 documentation, 💻 code

Implement taint tracking for injection detection and enhance ML risk scoring (#247)
  pyguard.lib.framework_fastapi
  pyguard/lib/advanced_injection.py
  pyguard/lib/ml_detection.py
Labels: 💻 code

Implement data flow tracking for framework security checks - 99.2% test pass rate (#248)
  PYTHON_PERFECTIONIST_SESSION_REPORT.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_bottle.py
  tests/unit/test_cli.py
  tests/unit/test_framework_tensorflow.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Fix injection detection, safety classification, and add test fixtures (#249)
  .gitignore
  PYTHON_PERFECTIONIST_FINAL_ANALYSIS.md
  PYTHON_PERFECTIONIST_SUMMARY.txt
  pyguard.lib.framework_fastapi
  pyguard/lib/advanced_injection.py
  pyguard/lib/fix_safety.py
  pyguard/lib/rule_engine.py
Labels: 📝 documentation, 💻 code

Add taint tracking for TensorFlow and Quart security detection (#250)
  PYTHON_PERFECTIONIST_FINAL_ANALYSIS_v2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_quart.py
  pyguard/lib/framework_tensorflow.py
Labels: 📝 documentation, 💻 code
