Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'

Implement Cloud & Container Security Module - Security Dominance Plan Phase 1.3 (#167)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  pyguard/lib/cloud_security.py
  tests/unit/test_cloud_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Add Dependency Confusion Detection Module - Phase 1.2 of Security Dominance Plan (#168)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  pyguard/lib/dependency_confusion.py
  tests/unit/test_dependency_confusion.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Security Dominance Plan: Framework & FastAPI Expansion (91 checks, 30% complete) (#169)
  README.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Security Dominance Plan Phase 1: Complete FastAPI framework support (30/30 checks) (#170)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Fix FastAPI dependency_overrides detection and document data flow analysis limitations (#171)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Complete API Security 100% Implementation with Auto-Fix Coverage (#172)
  docs/development/API_SECURITY_COMPLETE.md
  docs/reference/capabilities-reference.md
  pyguard/lib/api_security_fixes.py
  tests/unit/test_api_security_fixes.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Release v0.4.0: API Security Module Complete with 20 Checks and 100% Auto-Fix Coverage (#173)
  README.md
  docs/CHANGELOG.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard/__init__.py
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

Add ToC to Readme
  README.md
Labels: 📝 documentation, 💻 code

Security Dominance Plan Implementation - Week 1-4 Complete: 159 Security Checks (53% Progress) (#174)
  Dockerfile
  README.md
  docs/development/SECURITY_DOMINANCE_PLAN_PROGRESS.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/cloud_security.py
Labels: 📝 documentation, 💻 code, 🐳 docker,  security

feat: Implement PII Detection Module - Security Dominance Plan Week 5-6 (12 new checks) (#175)
  pyguard.lib.framework_fastapi
  pyguard/lib/pii_detection.py
  tests/unit/test_pii_detection.py
Labels: 🧪 tests, 💻 code

Security Dominance Plan Phase 1 Week 5-6: PII Detection Module - 25 Rules Implemented (#176)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/pii_detection.py
  tests/unit/test_pii_detection.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement Week 7-8 Cryptography & Key Management Security Module (15 checks) (#177)
  docs/development/SECURITY_DOMINANCE_PLAN_PROGRESS.md
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/crypto_security.py
  tests/unit/test_crypto_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Update Security Dominance Plan documentation with accurate current progress (v2.0) (#178)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/workflows/copilot-instructions.md
Labels: 📝 documentation, 💻 code

Week 9-10: Add Advanced Injection Attacks module with 40 security checks - PyGuard now #1 in market! (#179)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard/lib/__init__.py
  pyguard/lib/advanced_injection.py
  pyguard/lib/crypto_security.py
  tests/integration/test_cli.py
  tests/unit/test_advanced_injection.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Update Security Dominance Plan: Week 9-10 Complete - PyGuard Now Market Leader with 224 Security Checks (#180)
  .gitignore
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
Labels: 📝 documentation, 💻 code

Implement Week 11-12 Security Dominance Plan: Add 60 security checks across 3 new modules (Tornado, Celery, Supply Chain) (#181)
  README.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_celery.py
  pyguard/lib/framework_tornado.py
  pyguard/lib/supply_chain_advanced.py
Labels: 📝 documentation, 💻 code

Security Dominance Plan Week 11-12: Fix linting and type errors in new modules (#182)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  pyguard/lib/advanced_injection.py
  pyguard/lib/api_security_fixes.py
  pyguard/lib/auth_security.py
  pyguard/lib/cloud_security.py
  pyguard/lib/crypto_security.py
  pyguard/lib/dependency_confusion.py
  pyguard/lib/framework_celery.py
  pyguard/lib/framework_tornado.py
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/pii_detection.py
  pyguard/lib/supply_chain_advanced.py
Labels: 📝 documentation, 💻 code,  security

Security Dominance Plan - Phase 1 COMPLETE at 111% (334/300 checks) - Market Leadership Achieved 🏆 (#183)
  README.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/advanced_injection.py
Labels: 📝 documentation, 💻 code

Release v0.5.0 - Market Leadership Achieved with 334 Security Checks (#184)
  README.md
  docs/CHANGELOG.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/__init__.py
  pyproject.toml
  tests/integration/test_cli.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Setup v0.6.0 tracking documentation and update README for v0.5.0 release (#185)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/SECURITY_DOMINANCE_PLAN_PROGRESS.md
  docs/development/UPDATEv06.md
  docs/development/UPDATEv2.md
  docs/development/workflows/copilot-instructions.md
  docs/index.md
  pyguard.lib.framework_fastapi
Labels: 📝 documentation, 💻 code

Implement Week 11-12 Security Dominance Plan: Add 124 security checks with comprehensive test coverage for Celery, Tornado, and Supply Chain Advanced (#186)
  docs/development/UPDATEv06.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  tests/unit/test_framework_celery.py
  tests/unit/test_framework_tornado.py
  tests/unit/test_supply_chain_advanced.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement Week 13-14: NumPy and TensorFlow Security Frameworks (493 Total Checks) (#187)
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/UPDATEv06.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  pyguard/lib/framework_numpy.py
  pyguard/lib/framework_tensorflow.py
  tests/unit/test_framework_numpy.py
  tests/unit/test_framework_tensorflow.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement Week 15-16: Business Logic Security (30 checks) + Pyramid Framework (15 checks) - 538 Total Checks (#188)
  docs/development/UPDATEv06.md
  docs/reference/capabilities-reference.md
  pyguard/lib/__init__.py
  pyguard/lib/business_logic.py
  pyguard/lib/framework_pyramid.py
  tests/test_business_logic.py
  tests/test_framework_pyramid.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Update Security Dominance Plan with Week 15-16 completion and fix Pyramid framework tests (#189)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_pyramid.py
  tests/test_framework_pyramid.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add Mobile & IoT Security Module with 20 New Security Checks (Month 5-6 Dominance Plan) (#190)
  pyguard.lib.framework_fastapi
  pyguard/lib/mobile_iot_security.py
  tests/unit/test_mobile_iot_security.py
Labels: 🧪 tests, 💻 code,  security

Implement Security Dominance Plan Month 5-6: Add Mobile/IoT and AI/ML Security Modules (30 checks) (#191)
  pyguard/lib/__init__.py
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 🧪 tests, 💻 code,  security

Fix failing tests in business logic, mobile/IoT, and AI/ML security modules (#192)
  pyguard.lib.framework_fastapi
  pyguard/lib/ai_ml_security.py
  pyguard/lib/business_logic.py
  pyguard/lib/mobile_iot_security.py
Labels: 💻 code,  security

Implement Security Dominance Plan Month 5-6: Add Blockchain & SQLAlchemy Security (#193)
  docs/reference/capabilities-reference.md
  pyguard/lib/__init__.py
  pyguard/lib/blockchain_security.py
  pyguard/lib/framework_sqlalchemy.py
  tests/unit/test_blockchain_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Update documentation: Security Dominance Plan Month 5-6 complete with 624 security checks (#194)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/UPDATEv06.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

Implement asyncio framework security module with 15 checks (Security Dominance Plan Month 7) (#195)
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_asyncio.py
  tests/unit/test_framework_asyncio.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Update SECURITY_DOMINANCE_PLAN.md with actual implementation progress (639 checks, 12 frameworks) (#196)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

Add Sanic Framework Security Module - 14 Checks, 46 Tests (Security Dominance Plan) (#197)
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/SANIC_IMPLEMENTATION_SUMMARY.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_sanic.py
  tests/unit/test_framework_sanic.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add Quart and Bottle Framework Security Support - 25 New Checks (Security Dominance Plan) (#198)
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_bottle.py
  pyguard/lib/framework_quart.py
  tests/unit/test_framework_bottle.py
  tests/unit/test_framework_quart.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add Scikit-learn framework security module - 8 ML security checks, 16 frameworks total (80% complete) (#199)
  docs/reference/capabilities-reference.md
  pyguard/lib/framework_sklearn.py
  tests/unit/test_framework_sklearn.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Implement Security Dominance Plan: Add 4 frameworks (SciPy, Peewee, Pony ORM, Tortoise ORM) - 20/20 frameworks complete! (#200)
  docs/reference/capabilities-reference.md
  pyguard/lib/framework_peewee.py
  pyguard/lib/framework_pony.py
  pyguard/lib/framework_scipy.py
  pyguard/lib/framework_tortoise.py
  tests/unit/test_framework_peewee.py
  tests/unit/test_framework_pony.py
  tests/unit/test_framework_scipy.py
  tests/unit/test_framework_tortoise.py
Labels: 📝 documentation, 🧪 tests, 💻 code

🎊 Mission Accomplished: PyGuard Security Dominance Plan Complete - 20/20 Frameworks, 703 Checks (#201)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/reference/capabilities-reference.md
  pyguard/lib/framework_quart.py
Labels: 📝 documentation, 💻 code

🎊 Mission Accomplished: Update Documentation with Verified 720 Security Checks & 20 Frameworks (#202)
  README.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/development/MISSION_ACCOMPLISHED.md
  docs/development/UPDATEv06.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

Release v0.6.0: Mission Accomplished - Total Market Dominance with 720 Security Checks & 20 Frameworks (#203)
  README.md
  docs/CHANGELOG.md
  docs/development/UPDATEv06.md
  docs/v0.6.0-RELEASE-SUMMARY.md
  pyguard/__init__.py
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

Added ML Doc
  docs/copilot/PYSEC.md
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
  docs/copilot/ai_ml.md
Labels: 📝 documentation, 💻 code

Implement AI/ML Security Phase 1: Add advanced prompt injection detection (AIML011, AIML012) (#204)
  docs/development/v070.md
  pyguard/lib/ai_ml_security.py
  tests/unit/test_ai_ml_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security
