Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'

📊 DEEP ROADMAP ANALYSIS: Comprehensive gap identification and documentation update
  README.md
  ROADMAP.md
  docs/reports/2025-11-14-priority-actions.md
  docs/reports/2025-11-14-roadmap-gap-analysis.md
Labels: 📝 documentation, 💻 code

📊 DEEP ROADMAP ANALYSIS: Comprehensive gap identification and documentation update (#292)
  README.md
  ROADMAP.md
  docs/reports/2025-11-14-priority-actions.md
  docs/reports/2025-11-14-roadmap-gap-analysis.md
Labels: 📝 documentation, 💻 code

✅ Complete ALL priority actions from roadmap gap analysis
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/development/BUG_TRACKING_GUIDE.md
  docs/development/FALSE_POSITIVE_BENCHMARKING.md
  docs/development/VSCODE_EXTENSION_PLAN.md
  docs/distribution/DOCKER_HUB_SETUP.md
  docs/distribution/HOMEBREW_TAP_QUICKSTART.md
  docs/reports/2025-11-14-completion-summary.md
  docs/security/OPENSSF_SCORECARD_GUIDE.md
  docs/security/SIGSTORE_VERIFICATION_GUIDE.md
  tools/benchmark_false_positives.py
  tools/benchmark_performance.py
Labels: 📝 documentation, 💻 code

🚀 VS Code Extension Phase 1 + OpenSSF Scorecard Baseline
  docs/security/OPENSSF_SCORECARD_BASELINE.md
  pyguard_lsp/README.md
  pyguard_lsp/__init__.py
  pyguard_lsp/requirements.txt
  pyguard_lsp/server.py
  vscode-pyguard/.vscodeignore
  vscode-pyguard/README.md
  vscode-pyguard/package.json
  vscode-pyguard/src/extension.ts
  vscode-pyguard/tsconfig.json
Labels: 📝 documentation, 💻 code

📊 Session summary: 100% objectives achieved, 11K+ lines, 26 files
  docs/reports/2025-11-14-session-summary.md
Labels: 📝 documentation, 💻 code

✅ Complete ALL priority actions from roadmap gap analysis (#293)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/development/BUG_TRACKING_GUIDE.md
  docs/development/FALSE_POSITIVE_BENCHMARKING.md
  docs/development/VSCODE_EXTENSION_PLAN.md
  docs/distribution/DOCKER_HUB_SETUP.md
  docs/distribution/HOMEBREW_TAP_QUICKSTART.md
  docs/reports/2025-11-14-completion-summary.md
  docs/reports/2025-11-14-session-summary.md
  docs/security/OPENSSF_SCORECARD_BASELINE.md
  docs/security/OPENSSF_SCORECARD_GUIDE.md
  docs/security/SIGSTORE_VERIFICATION_GUIDE.md
  pyguard_lsp/README.md
  pyguard_lsp/__init__.py
  pyguard_lsp/requirements.txt
  pyguard_lsp/server.py
  tools/benchmark_false_positives.py
  tools/benchmark_performance.py
  vscode-pyguard/.vscodeignore
  vscode-pyguard/README.md
  vscode-pyguard/package.json
  vscode-pyguard/src/extension.ts
  vscode-pyguard/tsconfig.json
Labels: 📝 documentation, 💻 code

🔧 DEEP ANALYSIS: Fix ALL critical errors, inconsistencies, and code quality issues
  SECURITY.md
  docs/examples/git-hooks-demo.md
  docs/guides/AIR_GAPPED_INSTALLATION.md
  docs/guides/COMPLIANCE_REPORTING.md
  docs/guides/RIPGREP_INTEGRATION.md
  docs/guides/auto-fix-guide.md
  docs/guides/git-hooks-guide.md
  docs/guides/notebook-security-guide.md
  docs/reference/architecture/IMPLEMENTATION_SUMMARY.md
  docs/reference/capabilities-reference.md
  docs/reports/2025-11-11-deep-analysis.md
  docs/reports/2025-11-11-enhancements-summary.md
  pyguard/cli.py
  pyguard/commands/doctor.py
  pyguard/commands/explain.py
  pyguard/commands/fix.py
  pyguard/commands/init.py
  pyguard/commands/scan.py
  pyguard/commands/validate_config.py
  pyguard/lib/config.py
  pyguard/lib/notebook_security.py
  pyproject.toml
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config,  security, 📦 dependencies

📅 Fix date references to reflect current date (November 2025)
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

🗓️ CRITICAL FIX: Correct ALL incorrect 2024 dates to 2025
  ROADMAP.md
  docs/MANIFEST.md
  docs/development/FALSE_POSITIVE_BENCHMARKING.md
  docs/development/LTS_POLICY.md
  docs/guides/AIR_GAPPED_INSTALLATION.md
  docs/guides/REPRODUCIBLE_BUILDS.md
  docs/reference/capabilities-reference.md
  docs/reports/2025-11-04-implementation-continued.md
  docs/reports/2025-11-04-implementation-summary.md
  docs/reports/2025-11-04-roadmap-implementation.md
  docs/reports/README.md
  docs/security/SBOM_GUIDE.md
  docs/security/SLSA_PROVENANCE_VERIFICATION.md
Labels: 📝 documentation, 💻 code

🔒 SECURITY: Fix all vulnerabilities and update dependencies to latest stable
  SECURITY_AUDIT_2025-11-14.md
  pyproject.toml
Labels: 📝 documentation, 💻 code, 🔧 config, 📦 dependencies

Claude/analyze pyguard codebase 01 rf9e xa2v yyga sk j skvyx dg (#294)
  ROADMAP.md
  SECURITY.md
  SECURITY_AUDIT_2025-11-14.md
  docs/MANIFEST.md
  docs/development/FALSE_POSITIVE_BENCHMARKING.md
  docs/development/LTS_POLICY.md
  docs/examples/git-hooks-demo.md
  docs/guides/AIR_GAPPED_INSTALLATION.md
  docs/guides/COMPLIANCE_REPORTING.md
  docs/guides/REPRODUCIBLE_BUILDS.md
  docs/guides/RIPGREP_INTEGRATION.md
  docs/guides/auto-fix-guide.md
  docs/guides/git-hooks-guide.md
  docs/guides/notebook-security-guide.md
  docs/reference/architecture/IMPLEMENTATION_SUMMARY.md
  docs/reference/capabilities-reference.md
  docs/reports/2025-11-04-implementation-continued.md
  docs/reports/2025-11-04-implementation-summary.md
  docs/reports/2025-11-04-roadmap-implementation.md
  docs/reports/2025-11-11-deep-analysis.md
  docs/reports/2025-11-11-enhancements-summary.md
  docs/reports/README.md
  docs/security/SBOM_GUIDE.md
  docs/security/SLSA_PROVENANCE_VERIFICATION.md
  pyguard/cli.py
  pyguard/commands/doctor.py
  pyguard/commands/explain.py
  pyguard/commands/fix.py
  pyguard/commands/init.py
  pyguard/commands/scan.py
  pyguard/commands/validate_config.py
  pyguard/lib/config.py
  pyguard/lib/notebook_security.py
  pyproject.toml
  tests/unit/test_notebook_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config,  security, 📦 dependencies

🔧 Fix ALL GitHub Actions workflow issues
  .github/workflows/comprehensive-tests.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-ci.yml
  .github/workflows/pyguard-template.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  action.yml
Labels: ⚙️ workflows, 💻 code,  release

🔧 Fix ALL GitHub Actions workflow issues (#295)
  .github/workflows/comprehensive-tests.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-ci.yml
  .github/workflows/pyguard-template.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  action.yml
Labels: ⚙️ workflows, 💻 code,  release

Remove Actions
  .github/actions/setup-python/action.yml
  .github/workflows/README.md
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-ci.yml
  .github/workflows/lint.yml
  .github/workflows/path-guard.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pyguard-incremental.yml
  .github/workflows/pyguard-template.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale.yml
  .github/workflows/test-action.yml
  .github/workflows/test.yml
  .github/workflows/workflow-lint.yml
Labels: 📝 documentation, ⚙️ workflows, 💻 code,  release
