Repository cboyd0319/PyGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🐳 docker,  security, 📦 dependencies,  release

Add comprehensive test suite enhancements - Improve coverage from 86.74% to 87%+ with 40+ new tests (#134)
  TEST_PLAN.md
  pyguard/lib/supply_chain.py
  tests/unit/test_cache.py
  tests/unit/test_ml_detection.py
  tests/unit/test_supply_chain.py
  tests/unit/test_type_checker.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Improve test coverage from 87% to 88% and fix broken tests (#135)
  tests/unit/test_exception_handling.py
  tests/unit/test_framework_django.py
  tests/unit/test_framework_pandas.py
  tests/unit/test_logging_patterns.py
  tests/unit/test_notebook_analyzer.py
  tests/unit/test_type_checker.py
Labels: 🧪 tests, 💻 code

Add RipGrep Instructions
  docs/guides/RIPGREP_INTEGRATION.md
Labels: 📝 documentation, 💻 code

[WIP] Incorporate ripgrep integration documentation into the product (#136)
  .github/workflows/pyguard-incremental.yml
  README.md
  RIPGREP_IMPLEMENTATION_SUMMARY.md
  examples/hooks/README.md
  examples/hooks/pre-commit-fast-scan
  examples/hooks/pre-commit-secret-scan
  pyguard/cli.py
  pyguard/lib/compliance_tracker.py
  pyguard/lib/import_analyzer.py
  pyguard/lib/ripgrep_filter.py
  pyguard/lib/secret_scanner.py
  pyguard/lib/test_coverage.py
  pyproject.toml
  tests/integration/test_ripgrep_integration.py
  tests/unit/test_compliance_tracker.py
  tests/unit/test_import_analyzer.py
  tests/unit/test_ripgrep_filter.py
  tests/unit/test_secret_scanner.py
  tests/unit/test_test_coverage.py
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Update Readme and logo
  README.md
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Update Logo
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Enhance test coverage to 86% and add notebook security features (#138)
  pyguard/lib/notebook_analyzer.py
  pyguard/lib/notebook_security.py
  test_coverage_summary.md
  tests/unit/test_notebook_analyzer.py
  tests/unit/test_rule_engine.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Optimize test suite performance: 44% faster with parallel execution and deterministic time control (#139)
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  docs/development/TESTING_GUIDE.md
  docs/development/TEST_PERFORMANCE_OPTIMIZATION.md
  pyproject.toml
  pytest.ini
  tests/integration/test_auto_fix_workflows.py
  tests/unit/test_cache.py
  tests/unit/test_security.py
  tests/unit/test_watch.py
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Add comprehensive pytest test suite achieving 87% code coverage (#140)
  tests/unit/test_advanced_security.py
  tests/unit/test_cli.py
  tests/unit/test_notebook_analyzer.py
Labels: 🧪 tests, 💻 code

Add comprehensive test coverage for core PyGuard modules - achieve 100% line coverage on 4 critical modules (#141)
  tests/unit/test_best_practices.py
  tests/unit/test_core.py
  tests/unit/test_import_rules.py
  tests/unit/test_ml_detection.py
  tests/unit/test_reporting.py
Labels: 🧪 tests, 💻 code

Achieve 100% test coverage for core modules with comprehensive PyTest Architect test suites (#142)
  .gitignore
  PYTEST_ARCHITECT_SUMMARY.md
  tests/unit/test_cli.py
  tests/unit/test_core.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Achieve 100% Test Coverage for Core Infrastructure Modules (#143)
  tests/unit/test_best_practices.py
  tests/unit/test_core.py
  tests/unit/test_enhanced_detections.py
  tests/unit/test_ml_detection.py
  tests/unit/test_security.py
Labels: 🧪 tests, 💻 code

Achieve 100% test coverage for 7 core modules following PyTest Architect standards (#144)
  PYTEST_ARCHITECT_PROGRESS.md
  coverage.json
  tests/unit/test_compliance_tracker.py
  tests/unit/test_debugging_patterns.py
  tests/unit/test_import_analyzer.py
  tests/unit/test_sarif_reporter.py
  tests/unit/test_secret_scanner.py
  tests/unit/test_ui.py
  tests/unit/test_watch.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add comprehensive test coverage for core modules following PyTest Architect standards (#145)
  PYTEST_COMPLETION_SUMMARY.md
  tests/unit/test_cli.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Update Logo
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Logo Update
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Refresh tweak
  README.md
Labels: 📝 documentation, 💻 code

Add comprehensive tests for comprehensions, async_patterns, and datetime_patterns modules - PyTest Architect standards (#146)
  coverage.json
  tests/unit/test_async_patterns.py
  tests/unit/test_comprehensions.py
  tests/unit/test_datetime_patterns.py
Labels: 🧪 tests, 💻 code

CodeCov Update
  .github/workflows/comprehensive-tests.yml
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Enhance test coverage for core modules to meet PyTest Architect standards (#147)
  PYTEST_COVERAGE_IMPROVEMENTS.md
  coverage.json
  tests/unit/test_standards_integration.py
  tests/unit/test_type_checker.py
Labels: 📝 documentation, 🧪 tests, 💻 code

CodeCov Update
  .github/workflows/comprehensive-tests.yml
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Achieve 100% test coverage for core modules with PyTest Architect standards (#149)
  PYTEST_ARCHITECT_COMPLETION.md
  tests/unit/test_cli.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Upload PySec
  docs/copilot/PYSEC.md
Labels: 📝 documentation, 💻 code

🔒 Transform PyGuard into One of the MOST Secure GitHub Projects - PYSEC_OMEGA Implementation (#153)
  .github/workflows/pyguard-incremental.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .gitignore
  .pre-commit-config.yaml
  .yamllint.yml
  SECURITY.md
  SECURITY_QUICKSTART.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/validate-workflow-security.sh
  security/IMPLEMENTATION_SUMMARY.md
  security/POLICIES/semgrep/python-security-custom.yml
  security/README.md
  security/RISK_LEDGER.md
  security/SECURE_CODING_GUIDE.md
  security/THREAT_MODEL.md
  security/WORKFLOW_SECURITY_CHECKLIST.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔧 config,  security, 📦 dependencies,  release

🔒 Transform PyGuard into One of the Most Secure Python Projects - PYSEC_OMEGA Implementation (#154)
  README.md
  SECURITY.md
  SECURITY_SUMMARY.md
  docs/DEPENDENCY_MANAGEMENT.md
  pyguard/lib/notebook_security.py
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  scripts/update-dependencies.sh
  security/RISK_LEDGER.md
  security/SECURITY_AUDIT_2025.md
  security/SECURITY_MAINTENANCE.md
Labels: 📝 documentation, 💻 code,  security, 📦 dependencies

Docs Cleanup
  README.md
  RIPGREP_IMPLEMENTATION_SUMMARY.md
  SECURITY.md
  TEST_PLAN.md
  docs/DEPENDENCY_MANAGEMENT.md
  docs/development/COVERAGE_STATUS.md
  docs/development/PYTEST_ARCHITECT_COMPLETION.md
  docs/development/PYTEST_ARCHITECT_PROGRESS.md
  docs/development/PYTEST_ARCHITECT_SUMMARY.md
  docs/development/PYTEST_COMPLETION_SUMMARY.md
  docs/development/PYTEST_COVERAGE_IMPROVEMENTS.md
  docs/development/test_coverage_summary.md
  docs/development/workflows/COPILOT-MCP-SERVERS.md
  docs/examples/git-hooks-demo.md
  docs/examples/github-workflows/README.md
  docs/guides/auto-fix-guide.md
  docs/guides/git-hooks-guide.md
  docs/index.md
  docs/security/SECURITY_QUICKSTART.md
  docs/security/SECURITY_SUMMARY.md
Labels: 📝 documentation, 💻 code,  security

Doc Updates
  .github/copilot-instructions.md
  README.md
  docs/development/NOTEBOOK_SECURITY_CAPABILITIES.md
  docs/development/workflows/copilot-instructions.md
  docs/reference/capabilities-reference.md
Labels: 📝 documentation, 💻 code

Readme Update
  README.md
Labels: 📝 documentation, 💻 code

Plan Update
  docs/copilot/SECURITY_DOMINANCE_PLAN.md
Labels: 📝 documentation, 💻 code

Implement Security Dominance Plan Phase 1: FastAPI Framework Support with 13 Security Checks (#155)
  README.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Security Dominance Plan Phase 1: Add API Security Module with 10 New Checks (#156)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/__init__.py
  pyguard/lib/api_security.py
  tests/unit/test_api_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Fix API Security Module Test Failures - Enhanced Detection Logic (#157)
  pyguard.lib.framework_fastapi
  pyguard/lib/api_security.py
  tests/unit/test_api_security.py
Labels: 🧪 tests, 💻 code,  security

Security Dominance Plan Assessment and Documentation Updates - Phase 1 Foundation (#158)
  README.md
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/api_security.py
  pyguard/lib/framework_fastapi.py
  pyguard/lib/import_analyzer.py
  pyguard/lib/notebook_auto_fix_enhanced.py
  pyguard/lib/notebook_security.py
  pyguard/lib/ripgrep_filter.py
  pyguard/lib/secret_scanner.py
  pyguard/lib/ui.py
Labels: 📝 documentation, 💻 code,  security

Security Dominance Plan Phase 1: Add Authentication & Authorization Security Module (8 checks, 86+ total) (#159)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/auth_security.py
  tests/unit/test_auth_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Fix auth security detection issues - enhance IDOR, JWT, and session ID checks (#160)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/auth_security.py
Labels: 📝 documentation, 💻 code,  security

Implement Security Dominance Plan - Add 8 FastAPI security checks with 22 comprehensive tests (#161)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Security Dominance Plan Phase 1: API Security Expansion - 5 New Security Checks (API011-API015) (#162)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/api_security.py
  tests/unit/test_api_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

Security Dominance Plan Phase 1.2: Complete Authentication & Authorization Expansion (AUTH009-AUTH015) (#163)
  docs/development/UPDATEv2.md
  pyguard.lib.framework_fastapi
  pyguard/lib/auth_security.py
  tests/unit/test_auth_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

feat: implement Security Dominance Plan Phase 1 - Add 4 FastAPI security checks (#164)
  pyguard.lib.framework_fastapi
  pyguard/lib/framework_fastapi.py
  tests/unit/test_framework_fastapi.py
Labels: 🧪 tests, 💻 code

Security Dominance Plan Phase 1: Add 5 new API security checks (API016-API020) (#166)
  docs/development/UPDATEv2.md
  docs/reference/capabilities-reference.md
  pyguard.lib.framework_fastapi
  pyguard/lib/api_security.py
  tests/unit/test_api_security.py
Labels: 📝 documentation, 🧪 tests, 💻 code,  security

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyguard/**/*.py'
      - '!pyguard/**/__init__.py'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'config/**'
      - '.github/dependabot.yml'

'🐳 docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

' security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'pyguard/lib/security.py'
      - 'pyguard/lib/*security*.py'
      - 'config/security_rules.toml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'requirements*.txt'

' release':
  - changed-files:
    - any-glob-to-any-file:
      - 'CHANGELOG.md'
      - '.github/workflows/release.yml'
